.jumbotron {
	padding-bottom: 5px;
	padding-top: 5px;
}

.row-action {
	margin-right: 20px;
}

.panel-link {
	color: #fff;
	width: 100%;
	text-align: right;
	display: inline-block;
}

.panel-link:hover {
	color: #fff;
}